h1{
    border-style:solid;
    border-width: 2px;
    text-align: center;
    border-color: blue;
    border-radius: 20px;
    border:solid 2px blue;
    outline: solid 5px red;
    padding: 20px;
    padding: 20px 10px 5px 6px;
    margin:2% 5% 10% 6%;
}